body {
  font-family: 'El Messiri', Arial, sans-serif;
}

.navbar {
  background-color: #000;
}

.navbar-dark .navbar-toggler-icon {
  background-color: #000;
}

.navbar-toggler-icon {
  background-color: #000;
  color: #fff;
}

.navbar-nav {
  justify-content: center;
  text-align: center;
  width: 100%;
}

.navbar-nav .nav-item {
  display: inline-block;
  margin: 0 20px;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 4px;
}

.card {
  margin-bottom: 20px;
  text-align: center;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 18px;
  margin-bottom: 15px;
}

.btn {
  margin-top: 10px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-weight: 900;
}

.navbar-brand {
  font-weight: bold;
  font-size: 35px;
}
span{
  color: #0059ff;
  font-weight: 900;
}
.separator{
  height: 70px;
}